
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: "Lato-Regular";
    src: url(Font/Lato-Regular.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Lato;
    color: #777;

} 





html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align:center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.main-nav li {
    padding: 0 5%;
}


.nav a:hover {
    background-color: rgba(255,255,255,.3);
}

.main-header{
    background-color: rgba(0,0,0,.6);
    background-image: url("Images/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.principal-title {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Lato-Regular";
    font-weight: normal;
    color: white;
}

.principal-title-large{
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Lato-Regular";
    font-weight: normal;
    color: #333333;
    text-align: center;
    font-size: 2.5em;
}

.image-in-paragraph {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}


.main-footer {
    background-color: #283747;
    color: white;
    padding: .5em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end; 
}

.footer-nav li {
    padding: 0 .5em;
}

.footer nav img {
    width: 10px;
    height: 10px;
}

.Integrant-photo1 {
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
}

.Integrant-photo2 {
    float: left;
    height: 200px;
    width: 200px;
    margin: 200px;
    border-radius: 50%;
}